[project]
	description = Simple URL shortener using Golang and MongoDB
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Maksadbek (Maksadbek)
[access "refs/for/refs/*"]
	read = group user/Maksadbek (Maksadbek)
	push = group user/Maksadbek (Maksadbek)
	label-Code-Review = -2..+2 group user/Maksadbek (Maksadbek)
	label-Verified = -1..+1 group user/Maksadbek (Maksadbek)
	rebase = group user/Maksadbek (Maksadbek)
	removeReviewer = group user/Maksadbek (Maksadbek)
	submit = group user/Maksadbek (Maksadbek)
[access "refs/heads/*"]
	read = group user/Maksadbek (Maksadbek)
	create = group user/Maksadbek (Maksadbek)
	push = +force group user/Maksadbek (Maksadbek)
	pushMerge = group user/Maksadbek (Maksadbek)
[access "refs/tags/*"]
	push = +force group user/Maksadbek (Maksadbek)
	pushTag = group user/Maksadbek (Maksadbek)
	pushSignedTag = group user/Maksadbek (Maksadbek)
